<%= bootstrap_form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>



    <div class="col-xs-1"></div>
    
    <div class="col-xs-10 footer navbar-fixed-bottom letter">


      <!-- Name: -->


      	To whom it may concern, my name is: <%= f.text_field :name, placeholder: 'Name', required: true, label: '&nbsp;'.html_safe %>
	<%= f.label :name, hidden: true %>
      
      <!-- Request: -->


      I would like to request that you send missionaries to
      	<%= f.label :request, hidden: true %>
      	<%= f.select :request, [['deliver a copy of the Book of Mormon.', 'bom'], ['come visit me.', 'visit'], ['deliver a copy of the Bible.', 'bible']], label: '&nbsp;'.html_safe%>

      
      <!-- Address: -->

      	At my home:
      	<%= f.label :address, hidden: true %>
      	<%= f.text_field :address, required: true, placeholder: '##, Street, City, State', label: '&nbsp;'.html_safe %>
      	I'll be expecting them within a day or so!  Thank you!
	<br>
      
      <!-- Comments: -->

      	<%= f.label :comments, hidden: true %>
      	PS
      	<%= f.text_area :comments, placeholder: 'Additional Comments', label: '&nbsp;'.html_safe %>
	<br>
      
      <%= f.submit "Send", class: "btn btn-submit send" %>
    </div>
        
    <div class="col-xs-1"></div>
    
    <% end %>
    
